<div class="profile">
<div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-bottom: 100px;">
  <div style="display: flex; justify-content: center; align-items: end ;width: 70%; height: 400px; background-color: red;
  border-radius: 0 0 15px 15px;
  background-image: url('https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80')">
  <div style="display: flex; flex-direction: column; margin-bottom: -150px; align-items: center;">
    <img  src="https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L.png"
      alt="" style="width: 200px; height: 200px; padding: 5px; border-radius: 100%;">
    <span style="font-size: 30px; font-weight: bold;">Ricardo Pari</span>
    <span style="font-size: 20px;">Add Bio</span>
  </div>
  </div>
</div>

<div class="row" style="width: 100%;">

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="width: 300px;">
  </div>

  <div class="feed col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">

    <app-message-sender></app-message-sender>

    <ng-container *ngFor="let publi of publications">
    <app-post  [category] = "publi[1]['category']" [date] = "publi[1]['date']" [description] = "publi[1]['description']"
    ></app-post>
    </ng-container>
  </div>

</div>

</div>
<!-- main body ends -->

<div id="fb-root"></div>
