<p>Editar no vacunado</p>
<form #form="ngForm" (ngSubmit)="onRegister(form)">
       <div class="form-group">
       <label for="name">NAME</label>
       <input type="text"  class="form-control" name="name"  placeholder="Enter name" ngModel>
       </div>
       <div class="form-group">
       <label for="age">AGE</label>
       <input type="text"  class="form-control" name="age"  placeholder="Enter age" ngModel>
       </div>
       <div class="form-check">
       <input class="form-check-input" type="checkbox" name="disease" value="" id="disease">
       <label class="form-check-label" for="disease">
         DISEASE
       </label>
      </div>
       
       <div class="form-group">
       <label for="vaccineType">VACCINE TYPE</label>
       <input type="text"  class="form-control" name="vaccineType"  placeholder="Enter vaccineType" ngModel>
       </div>
       <div class="center">
       <button type="submit" class="btn btn-primary">Submit</button>
       </div>
</form>
